<!DOCTYPE html>
<html>
  <head>
    <title>ToDoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <meta property="og:title" content="Brian's Nice To Do List App">
    <meta property="og:description" content="If you can't track todos, how do you expect to annihilate them?">
    <meta property="og:image" content="https://res.cloudinary.com/briandanger/image/upload/v1591575259/todo-list-cover_quilki.png">
    <meta property="og:url" content="http://brians-nice-todos.herokuapp.com">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Home", lists_path if params[:action] == "show" %>
      <h1>Todo List App</h1>
    </header>
    <%= yield %>
  </body>
</html>
